# -*- shell-script -*-

# ===============================================================
# File:                 $HOME/.zsh/rc/bindkeys.rc
# Purpose:              Setup file for "zsh" shell
# written by:           Nicolas C. <nico@bounga.ath.cx>
# Latest change:        Mon Jul  7 22:33:43 CEST 2003
# Latest user version:  zsh-4.0.7
# Length and size:      23 lines and ca 639B
# ===============================================================

# load emacs bindkeys

bindkey -e

##
# bash kill word
autoload -U bash-backward-kill-word
zle -N bash-backward-kill-word
bindkey "^F" bash-backward-kill-word
# example :
# cd /usr/share/doc'^F' kill the word doc
##