# ===============================================================
# File:                 $HOME/.zsh/rc/history.rc
# Purpose:              Setup file for "zsh" shell
# written by:           Nicolas C. <nico@bounga.ath.cx>
# Latest change:        Mon Jul  7 22:33:43 CEST 2003
# Latest user version:  zsh-4.0.7
# Length and size:      18 lines and ca 712B
# ===============================================================

setopt EXTENDED_HISTORY		# add a timestamp and the duration of each command
setopt SHARE_HISTORY	 	# _all_ zsh sessions share the same history files
setopt HIST_IGNORE_ALL_DUPS	# ignores duplications

HISTFILE=~/.zsh/history
HISTSIZE=10000
SAVEHIST=10000

export HISTFILE HISTSIZE SAVEHIST