# -*- shell-script -*-

# ===============================================================
# File:                 $HOME/.zsh/rc/titles.rc
# Purpose:              Setup file for "zsh" shell
# written by:           Nicolas C. <nico@bounga.ath.cx>
# Latest change:        Mon Jul  7 22:33:43 CEST 2003
# Latest user version:  zsh-4.0.7
# Length and size:      32 lines and ca 784B
# ===============================================================

if [ $TERM = "screen" ]
then
	function title {
	   # Use these two for GNU Screen:
	   print -nR $'\033k'$1$'\033'\\
	   print -nR $'\033]0;'$2$'\a'

	}

	preexec ()
	{       
		emulate -L zsh
		local -a cmd; cmd=(${(z)1})
		title `hostname` "$cmd[1,-1]"
	}

  	eval "function precmd () { 
		$functions[precmd]
		title \$HOST \$PWD
	}"
fi