# -*- shell-script -*-

# ===============================================================
# File:                 $HOME/.zsh/rc/zstyle.rc
# Purpose:              Setup file for "zsh" shell
# written by:           Nicolas C. <nico@bounga.ath.cx>
# Latest change:        Mon Jul  7 22:33:43 CEST 2003
# Latest user version:  zsh-4.0.7
# Length and size:      55 lines and ca 1,6KB
# ===============================================================

# zstyles

# some local variables
local _myhosts _myuser

_myhosts=($(<~/.zsh/hosts) ${${${${(f)"$(<$HOME/.ssh/known_hosts)"}:#[0-9]*}%%\ *}%%,*})
_myusers=($(<~/.zsh/users))

# Add host and user 
zstyle ':completion:*' users $_myusers
zstyle ':completion:*' hosts $_myhosts

# Use LS_COLORS for color completion
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS} 		

# Use 'ps -au$USER' for fetch user process list
zstyle ':completion:*:processes' command 'ps -au$USER'

# Verbose mode
zstyle ':completion:*:descriptions' format '%B%d%b'

# Use cache
zstyle ':completion:*' use-cache on
zstyle ':completion:*' cache-path ~/.zsh/cache

# prevent CVS files/directory completion
if [ -x `which cvs` ]
then
	zstyle ':completion:*:(all-|)files' ignored-patterns '(|*/)CVS'
	zstyle ':completion:*:cd:*' ignored-patterns '(*/)#CVS'
fi

# others zstyle

zstyle ':completion:*:*:zmore:*' file-patterns '*(-/):directories *.gz:all-files'

zstyle ':completion:*:*:gqview:*' file-patterns '*(-/):directories *.(png|jpeg|jpg|gif):all-files'


zstyle ':completion:*:*:more:*' ignored-patterns '*.gz'


# few simple completion definitions
[ -x `which mtr` ] && compdef _hosts mtr